body{
    background-color: mediumaquamarine;
}

.form{
    background-color: blanchedalmond;
    height: 250px;
    width: 350px;
    margin-left: 35%;
    margin-top: 8%;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
}
input{
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 2%;
    height: 30px;
    background-color: transparent;
}
label{
    margin-left: 20px;
}